<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="halo-comment">
    <link href=https://unpkg.com/@waline/client@v2/dist/waline.css rel=stylesheet>
<div id=waline class=waline-container th:fragment="halo-comment">
    <th:block th:if="${htmlType == 'post'}">
    <halo:comment
            group="content.halo.run"
            kind="Post"
            th:attr="name=${post.metadata.name}"
            colorScheme="'light'"
    />
    </th:block>
    <th:block th:if="${htmlType != 'post'}">
        <halo:comment
                group="content.halo.run"
                kind="SinglePage"
                th:attr="name=${singlePage.metadata.name}"
                colorScheme="'light'"
        />
    </th:block>

</div>
    <style>
        .waline-container{background-color:var(--card-background);border-radius:var(--card-border-radius);box-shadow:var(--shadow-l1);padding:var(--card-padding);--waline-font-size:var(--article-font-size)}.waline-container
                                                                                                                                                                                                              .wl-count{color:var(--card-text-color-main)}
    </style>
</th:block>
<th:block th:fragment="waline-comment">
<div id=waline class=waline-container >
</div>
    <script src=https://unpkg.com/@waline/client@v2/dist/waline.js></script>
    <link href=https://unpkg.com/@waline/client@v2/dist/waline.css rel=stylesheet>
<style>
    .waline-container{background-color:var(--card-background);border-radius:var(--card-border-radius);box-shadow:var(--shadow-l1);padding:var(--card-padding);--waline-font-size:var(--article-font-size)}.waline-container
                                                                                                                                                                                                          .wl-count{color:var(--card-text-color-main)}
</style>
  <script>
      const walineUrl = "[[${theme.config.article.walineUrl}]]";
      const walineAdmin = '[[${theme.config.article.walineAdmin}]]';
      Waline.init({
      dark: 'html[data-scheme="dark"]',
      el: "#waline",
      emoji: ["https://cdn.jsdelivr.net/npm/sticker-heo@2022.7.5/Sticker-100/"],
      locale: {
        admin: walineAdmin,
        placeholder: "🎉不用登陆也可以畅所欲言哦...."
      },
      pageview: !0,
      reaction: ["/themes/theme-stack/assets/img/good.svg", "/themes/theme-stack/assets/img/common.svg", "/themes/theme-stack/assets/img/bad.svg"],
      requiredMeta: ["name", "email"],
      serverURL: walineUrl
    })
  </script>
</th:block>
</html>