<section class="widget archives" th:fragment="archives">
    <div class=widget-icon>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-infinity"
             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <path d="M9.828 9.172a4 4 0 100 5.656A10 10 0 0012 12a10 10 0 012.172-2.828 4 4 0 110 5.656A10 10 0 0112 12 10 10 0 009.828 9.172"
            />
        </svg>
    </div>
    <h2 class="widget-title section-title">
        归档
    </h2>
    <div class=widget-archive--list th:with="archives = ${postFinder.archives(1,10)}">
        <th:block th:each="archive : ${archives.items}">

        <div class=archives-year>
            <a href=archives>
                <span class=year>
                  [[${archive.year}]]
                </span>
                <span class=count>
                  [[${archives.total}]]
                </span>
            </a>
        </div>
        </th:block>
    </div>
</section>