<section class="widget tagCloud" th:fragment="tags">
    <div class=widget-icon>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag"
             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <path d="M11 3l9 9a1.5 1.5.0 010 2l-6 6a1.5 1.5.0 01-2 0L3 11V7a4 4 0 014-4h4"
            />
            <circle cx="9" cy="9" r="2" />
        </svg>
    </div>
    <h2 class="widget-title section-title">
        标签云
    </h2>
    <div class=tagCloud-tags th:with="tags = ${tagFinder.list(1,10)}">
        <a th:each="tag : ${tags.items}"
           th:href="@{${tag.status.permalink}}"
           th:text="${tag.spec.displayName}"
           class="">

        </a>
    </div>
</section>