<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="left-sidebar">
    <aside class="sidebar left-sidebar sticky ">
        <button class="hamburger hamburger--spin" type="button" id="toggle-menu" aria-label="Toggle Menu">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        </button>
        <header>
            <figure class="site-avatar">
                <a th:href="@{/}">
                    <img src="/themes/theme-Stack2/assets/images/avatar.png" th:src="${theme.config.leftSidebar.blog_info.avatar}" width="300" height="300" class="site-logo" loading="lazy" alt="Avatar">
                </a>
                <span class="emoji" th:if="${! #strings.isEmpty(theme.config.leftSidebar.blog_info.emoji)}">[[${theme.config.leftSidebar.blog_info.emoji}]]</span>
            </figure>
            <div class="site-meta">
                <h1 class="site-name"><a th:href="@{/}" th:text="${theme.config.leftSidebar.blog_info.name}"></a></h1>
                <h2 class="site-description" th:text="${theme.config.leftSidebar.blog_info.bio}"></h2>
            </div>
        </header>
        <ol class="social-menu" th:if="${! #strings.isEmpty(theme.config.leftSidebar.social_links)}">
            <li th:each="social_data : ${theme.config.leftSidebar.social_links}">
                <a th:href="${social_data.link}" target="_blank"  rel="me">
                    <i th:class="${social_data.icon_code == 'custom' ? social_data.custom_icon : social_data.icon_code}"></i>
                </a>
            </li>
        </ol>
        <ol class="menu" id="main-menu" th:with="menu = ${#strings.isEmpty(theme.config.leftSidebar.menu) ? menuFinder.getPrimary() : menuFinder.getByName(theme.config.leftSidebar.menu)}">
            <th:block th:with="menuItems = ${menu.menuItems}">
            <li th:each="menuItem : ${menuItems}">
                <a th:href="@{${menuItem.status.href}}"
                   th:target="${menuItem.spec.target?.value}">
                    <i th:if="${! #strings.isEmpty(#annotations.get(menuItem, 'icon'))}" th:class="${#annotations.get(menuItem, 'icon')}"></i>

                    <span th:text="${menuItem.status.displayName}"></span>
                </a>
            </li>
            </th:block>
            <div class="menu-bottom-section">
                <li id="dark-mode-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toggle-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="8" cy="12" r="2"></circle>
                        <rect x="2" y="6" width="20" height="12" rx="6"></rect>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toggle-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="16" cy="12" r="2"></circle>
                        <rect x="2" y="6" width="20" height="12" rx="6"></rect>
                    </svg>
                    <span>[[#{theme.Dark_Mode}]]</span>
                </li>

            </div>
        </ol>
    </aside>
</th:block>
</html>