/*<!--    微博热搜样式-->*/
.weibo_hot {
    padding:20px 18px 0 18px;
}
.hot-ranking-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.hot-ranking-list_item {
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid #ebeef5;
}
.hot-ranking-list_item > a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    color: #303133;
    transition: transform 0.1s ease-in-out;
}
.hot-ranking_text {
    width: 100%;
    display: flex !important;
    box-sizing: border-box;
    padding: 0px 30px 0 24px;
}
.hot-ranking_hot {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    transform: scale(0.8);
    background-color: rgb(255, 148, 6);
}
.hot-ranking_new {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    transform: scale(0.8);
    background-color: rgb(255, 56, 82);
}
.hot-ranking_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #303133;
    margin-right: 10px;
}
.hot-ranking_number {
    color: #939393;
    font-size: 12px;
    white-space: nowrap;
}
.hot-ranking_order-1, .hot-ranking_order-2, .hot-ranking_order-3 {
    color: #fb113c;
    font-size: 16px;
    font-weight: bold;
}
.hot-ranking_order {
    position: absolute;
    left: 0;
    top: 0px;
    width: 24px;
    text-align: center;
    color: #f3ad4e;
    font-size: 14px;
}
.hot-ranking_order-1, .hot-ranking_order-2, .hot-ranking_order-3 {
    color: #fb113c;
    font-size: 16px;
    font-weight: bold;
}
.hot-ranking-more {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ebeef5;
    color: #939393;
    font-size: 12px;
    padding: 12px 12px 15px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none !important;
}
