<main class="main full-width">
  <article class="has-image main-article">
    <header class=article-header>
      <div class=article-image>
        <a th:href="${post.status.permalink}">
          <img th:src="${post.spec.cover}"
               width=800 height=450 loading=lazy th:alt="${post.spec.title}">
        </a>
      </div>
      <div class=article-details>
        <header class=article-category th:each="category : ${post.categories}">
          <a th:href="@{${category.status.permalink}}"
             th:text="${category.spec.displayName}">
          </a>
        </header>
        <div class=article-title-wrapper>
          <h2 class=article-title>
            <a th:href="${post.status.permalink}"
            th:text="${post.spec.title}">

            </a>
          </h2>
        </div>
        <footer class=article-time>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time"
                 width="56" height="56" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
                 fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <path d="M11.795 21H5a2 2 0 01-2-2V7a2 2 0 012-2h12a2 2 0 012 2v4" />
              <circle cx="18" cy="18" r="4" />
              <path d="M15 3v4" />
              <path d="M7 3v4" />
              <path d="M3 11h16" />
              <path d="M18 16.496V18l1 1" />
            </svg>
            <time class=article-time--published th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}">

            </time>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock"
                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
                 fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="9" />
              <polyline points="12 7 12 12 15 15" />
            </svg>
            <time class=article-time--reading>
              阅读时长: 7 分钟
            </time>
          </div>
        </footer>
      </div>
    </header>
    <section class=article-content th:utext="${post.content.content}">


      <hr />
    </section>
    <footer class=article-footer>
      <section class=article-tags >
        <a th:each="tag : ${post.tags}"
           th:href="@{${tag.status.permalink}}"
           th:text="${tag.spec.displayName}">

        </a>
      </section>
      <section class=article-copyright>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copyright"
             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" />
          <circle cx="12" cy="12" r="9" />
          <path d="M14.5 9a3.5 4 0 100 6" />
        </svg>
        <span>
                Licensed under CC BY-NC-SA 4.0
              </span>
      </section>
    </footer>
  </article>
  <aside class=related-content--wrapper>
    <h2 class=section-title>
      相关文章
    </h2>
    <div class=related-content>
      <div class="flex article-list--tile">
        <article class=has-image>
          <a href=../join-hugo-and-stack/join-hugo-and-stack.html>
            <div class=article-image>
              <img src=../join-hugo-and-stack/hugostack.3d6f4b44b192a314beaa2a52df23063c_hu93227961552f3de66aeca07fb63ffc4a_76842_250x150_fill_q75_h2_box_smart1_2.webp
                   width=250 height=150 loading=lazy alt="Featured image of post 拥抱最好用的hugo之stack"
                   data-key=join-hugo-and-stack data-hash="md5-PW9LRLGSoxS+qipS3yMGPA==">
            </div>
            <div class=article-details>
              <h2 class=article-title>
                拥抱最好用的hugo之stack
              </h2>
            </div>
          </a>
        </article>
      </div>
    </div>
  </aside>
  <script src=https://unpkg.com/@waline/client@v2/dist/waline.js>
  </script>
  <link href=https://unpkg.com/@waline/client@2.13.0/dist/waline.css rel=stylesheet>
  <div id=waline class=waline-container>
  </div>
  <style>
    .waline-container{background-color:var(--card-background);border-radius:var(--card-border-radius);box-shadow:var(--shadow-l1);padding:var(--card-padding);--waline-font-size:var(--article-font-size)}.waline-container
                                                                                                                                                                                                          .wl-count{color:var(--card-text-color-main)}
  </style>
  <script>
    Waline.init({
      dark: 'html[data-scheme="dark"]',
      el: "#waline",
      emoji: ["https://cdn.jsdelivr.net/npm/sticker-heo@2022.7.5/Sticker-100/"],
      locale: {
        admin: "👻屑博主",
        placeholder: "🎉不用登陆也可以畅所欲言哦...."
      },
      pageview: !0,
      reaction: ["/themes/theme-stack/assets/img/good.svg", "/themes/theme-stack/assets/img/common.svg", "/themes/theme-stack/assets/img/bad.svg"],
      requiredMeta: ["name", "email"],
      serverURL: "https://waline.linsnow.cn/"
    })
  </script>
<!--  <halo:comment-->
<!--          group="content.halo.run"-->
<!--          kind="Post"-->
<!--          th:attr="name=${post.metadata.name}"-->
<!--          colorScheme="'light'"-->
<!--  />-->
<!--  底部信息-->
  <th:block th:replace="~{modules/footer}" />

  <div class=pswp tabindex=-1 role=dialog aria-hidden=true>
    <div class=pswp__bg>
    </div>
    <div class=pswp__scroll-wrap>
      <div class=pswp__container>
        <div class=pswp__item>
        </div>
        <div class=pswp__item>
        </div>
        <div class=pswp__item>
        </div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class=pswp__top-bar>
          <div class=pswp__counter>
          </div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)">
          </button>
          <button class="pswp__button pswp__button--share" title=Share>
          </button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen">
          </button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out">
          </button>
          <div class=pswp__preloader>
            <div class=pswp__preloader__icn>
              <div class=pswp__preloader__cut>
                <div class=pswp__preloader__donut>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class=pswp__share-tooltip>
          </div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>
        <div class=pswp__caption>
          <div class=pswp__caption__center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src=https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe.min.js
          integrity="sha256-ePwmChbbvXbsO02lbM3HoHbSHTHFAeChekF1xKJdleo=" crossorigin=anonymous
          defer>
  </script>
  <script src=https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe-ui-default.min.js
          integrity="sha256-UKkzOn/w1mBxRmLLGrSeyB4e1xbrp4xylgAWb3M42pU=" crossorigin=anonymous
          defer>
  </script>
  <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/default-skin/default-skin.min.css
        crossorigin=anonymous>
  <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe.min.css
        crossorigin=anonymous>
</main>