<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
    <title th:text="${#strings.isEmpty(title)? site.title : title+'-'+site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/dist/style.css?v={version}(version=${theme.spec.version})}" href="./assets/dist/style.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_4436010_wnb5aizavce.css" />
    <meta property="og:title" th:content="${#strings.isEmpty(title)? site.title : title+'-'+site.title}">
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" th:if="${pageType == 'moments'}" />
    <meta property="og:description" th:content="${site.seo.description}">
    <meta property="og:site_name" th:content="${site.title}">
    <meta property="og:type" content="website">
    <link rel="alternate" type="application/rss+xml" th:href="@{/rss.xml}">
    <link rel="shortcut icon" th:href="${site.favicon}">
</head>
</html>