<html lang="en" xmlns:th="http://www.thymeleaf.org">
<main class="main full-width" th:fragment="moment">
    <!--  欢迎语-->
    <th:block th:if="${theme.config.basic.headWelcome}">
        <div class=announce th:utext="${theme.config.basic.headHello}">
        </div>
    </th:block>
    <!--  post-list-->
    <th:block th:replace="~{modules/post-list}"/>
    <!--       pagination-->
    <th:block th:replace="~{modules/pagination :: index}"></th:block>

    <th:block th:replace="~{modules/footer}"/>


</main>
