<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside class="sidebar right-sidebar sticky" th:fragment="right-sidebar">

<!--  首页-->
  <th:block th:if="${htmlType == 'index'}">
    <th:block th:each="widgets : ${#strings.listSplit(theme.config.rightSidebar.indexWidgets, ',')}">
      <th:block th:replace="modules/widgets/right-sideWidgets :: ${widgets}" />
    </th:block>
  </th:block>
<!--  文章页-->
  <th:block th:if="${htmlType == 'post'}">
    <th:block th:each="widgets : ${#strings.listSplit(theme.config.rightSidebar.postWidgets, ',')}">
    <th:block th:replace="~{modules/widgets/right-sideWidgets :: ${widgets}}"/>
    </th:block>
  </th:block>
<!--  友情链接页-->
  <th:block th:if="${htmlType == 'links'}">
    <th:block th:each="widgets : ${#strings.listSplit(theme.config.rightSidebar.linksWidgets, ',')}">
    <th:block th:replace="~{modules/widgets/right-sideWidgets :: ${widgets}}"/>
    </th:block>
  </th:block>
<!--  自定义页面-->
  <th:block th:if="${htmlType == 'page'}">
    <th:block th:each="widgets : ${#strings.listSplit(theme.config.rightSidebar.pageWidgets, ',')}">
    <th:block th:replace="~{modules/widgets/right-sideWidgets :: ${widgets}}"/>
    </th:block>
  </th:block>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</aside>
</html>