<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside class="sidebar right-sidebar sticky" th:fragment="right-sidebar">
  <div class=rightpic>
    <img th:src="@{/assets/img/daily_pic.webp}" alt class=rightimg>
  </div>
  <div class=jieli>
    <a href=https://travellings.link/ target=_blank rel=noopener title=开往-友链接力>
      <img src=https://travellings.link/assets/logo.gif alt=开往-友链接力 width=120>
    </a>
    <a href=https://www.foreverblog.cn/go.html target=_blank>
      <img src=https://img.foreverblog.cn/wormhole_1.gif alt style=width:auto;height:32px
           title=穿梭虫洞-随机访问十年之约友链博客>
    </a>
  </div>
  <br>
  <br>
  <form action=search/search.html class="search-form widget">
    <p>
      <label>
        搜索
      </label>
      <input name=keyword required placeholder=输入关键词...>
      <button title=搜索>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
             width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="10" cy="10" r="7" />
          <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
      </button>
    </p>
  </form>
  <section class="widget archives">
    <div class=widget-icon>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-infinity"
           width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
           fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <path d="M9.828 9.172a4 4 0 100 5.656A10 10 0 0012 12a10 10 0 012.172-2.828 4 4 0 110 5.656A10 10 0 0112 12 10 10 0 009.828 9.172"
        />
      </svg>
    </div>
    <h2 class="widget-title section-title">
      归档
    </h2>
    <div class=widget-archive--list>
      <div class=archives-year>
        <a href=archives/archives.html#2022>
                <span class=year>
                  2022
                </span>
          <span class=count>
                  7
                </span>
        </a>
      </div>
      <div class=archives-year>
        <a href=archives/archives.html#2021>
                <span class=year>
                  2021
                </span>
          <span class=count>
                  63
                </span>
        </a>
      </div>
      <div class=archives-year>
        <a href=archives/archives.html#2020>
                <span class=year>
                  2020
                </span>
          <span class=count>
                  4
                </span>
        </a>
      </div>
    </div>
  </section>
  <section class="widget tagCloud">
    <div class=widget-icon>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hash"
           width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
           fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="5" y1="9" x2="19" y2="9" />
        <line x1="5" y1="15" x2="19" y2="15" />
        <line x1="11" y1="4" x2="7" y2="20" />
        <line x1="17" y1="4" x2="13" y2="20" />
      </svg>
    </div>
    <h2 class="widget-title section-title">
      分类
    </h2>
    <div class=tagCloud-tags>
      <a href=categories/blog/blog.html class=font_size_23>
        blog
      </a>
      <a href=categories/javascript/javascript.html class=font_size_13>
        javascript笔记
      </a>
      <a href=categories/jailbreak/jailbreak.html class=font_size_11>
        JailBreak
      </a>
      <a href=categories/css/css.html class=font_size_7>
        CSS笔记
      </a>
      <a href=categories/html/html.html class=font_size_6>
        Html笔记
      </a>
      <a href=categories/%E8%BD%AF%E4%BB%B6/e%CC%80%C2%BD%C2%AFa%CC%88%C2%BB%C2%B6.html
         class=font_size_6>
        软件
      </a>
      <a href=categories/ios/ios.html class=font_size_5>
        iOS
      </a>
      <a href=categories/%E9%9A%8F%E7%AC%94/e%CC%81__c%CC%A7%C2%AC_.html class=font_size_5>
        随笔
      </a>
    </div>
  </section>
  <section class="widget tagCloud">
    <div class=widget-icon>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag"
           width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
           fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <path d="M11 3l9 9a1.5 1.5.0 010 2l-6 6a1.5 1.5.0 01-2 0L3 11V7a4 4 0 014-4h4"
        />
        <circle cx="9" cy="9" r="2" />
      </svg>
    </div>
    <h2 class="widget-title section-title">
      标签云
    </h2>
    <div class=tagCloud-tags>
      <a href=tags/javascript/javascript.html class=font_size_13>
        javascript
      </a>
      <a href=tags/css/css.html class=font_size_7>
        css
      </a>
      <a href=tags/html/html.html class=font_size_5>
        html
      </a>
      <a href=tags/blog/blog.html class=font_size_4>
        blog
      </a>
      <a href=tags/checkra1n/checkra1n.html class=font_size_4>
        Checkra1n
      </a>
      <a href=tags/jailbreak/jailbreak.html class=font_size_4>
        jailbreak
      </a>
      <a href=tags/hugo/hugo.html class=font_size_3>
        hugo
      </a>
      <a href=tags/ios/ios.html class=font_size_3>
        ios
      </a>
      <a href=tags/odysseyra1n/odysseyra1n.html class=font_size_2>
        odysseyra1n
      </a>
      <a href=tags/androidtv/androidtv.html class=font_size_1>
        androidtv
      </a>
      <a href=tags/appstore/appstore.html class=font_size_1>
        appstore
      </a>
      <a href=tags/bigsur/bigsur.html class=font_size_1>
        BigSur
      </a>
      <a href=tags/bilibili/bilibili.html class=font_size_1>
        bilibili
      </a>
      <a href=tags/bios/bios.html class=font_size_1>
        bios
      </a>
      <a href=tags/books/books.html class=font_size_1>
        books
      </a>
    </div>
  </section>
  <br>
  <br>
  <div class=newcomments>
    <div class=newtext>
      📢最新评论:
    </div>
    <div id=waline-recent>
    </div>
  </div>
  <script type=module>
    import {
      RecentComments
    }
      from 'https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.mjs';
    RecentComments({

      serverURL: 'https://waline.linsnow.cn',
      count: 2,
    }).then(({
      comments
    }) = >{
      document.getElementById('waline-recent').innerHTML = comments.map((comment) = >` < img src = "${comment.avatar}"alt = "" > $ {
              comment.nick
            }: $ {
              comment.comment
            }`);
    });
  </script>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</aside>
</html>