<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(content = ~{::content}, title=#{theme.archives}, pageType='archives' )}">
<th:block th:fragment="content">
    <div class="container main-container flex on-phone--column extended">
        <!--      Left Sidebar-->
        <th:block th:replace="~{modules/common/left-sidebar :: left-sidebar}"></th:block>
        <main class="main full-width">
            <header>
                <h2 class="section-title">[[#{theme.archives}]]</h2>
                <div class="subsection-list">
                    <div class="article-list--tile" th:with="categories = ${categoryFinder.listAll()}">
                        <article th:each="category : ${categories}"
                                 th:classappend="${! #strings.isEmpty(category.spec.cover) ? 'has-image' : ''}">
                            <a th:href="@{${category.status.permalink}}">
                                <div class="article-image" th:if="${! #strings.isEmpty(category.spec.cover)}">
                                    <img th:src="${category.spec.cover}" loading="lazy" th:alt="${category.spec.displayName}" >

                                </div>
                                <div class="article-details">
                                    <h2 class="article-title"
                                        th:text="${category.spec.displayName}"></h2>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>

            </header>
            <th:block th:each="archive : ${archives.items}">
                <div class="archives-group" th:id="${archive.year}">
                <h2 class="archives-date section-title">
                    <a th:href="@{${'archives/'+archive.year}}" th:text="${archive.year}"></a></h2>
                <div class="article-list--compact">
                    <th:block th:each="month : ${archive.months}">
                    <article th:each="post : ${month.posts}">
                        <a th:href="@{${post.status.permalink}}" >
                            <div class="article-details">
                                <h2 class="article-title" th:text="${post.spec.title}"></h2>
                                <footer class="article-time">
                                    <time th:datetime="${post.spec.publishTime}" th:text="${#dates.format(post.spec.publishTime, 'MMM dd, yyyy')}"></time>
                                </footer>
                            </div>
                            <div class="article-image" th:if="${! #strings.isEmpty(post.spec.cover)}">
                                <img th:src="${post.spec.cover}" width="120" height="120" th:alt="${post.spec.title}" loading="lazy">

                            </div>
                        </a>
                    </article>
                    </th:block>
                </div>
            </div>
                <!--       pagination-->
            </th:block>
            <th:block th:replace="~{modules/common/pagination :: archives}"></th:block>

            <!--Footer-->
            <th:block th:replace="~{modules/common/footer :: footer}"></th:block>
        </main>
    </div>
    <!--    Tail JS-->
    <th:block th:replace="~{modules/tail :: tail}"></th:block>
</th:block>
</html>