<!DOCTYPE html>
<html lang="en">
<main class="main full-width">
  <article class="has-image main-article">
    <header class="article-header">
      <div class="article-image">
        <a href="/links/">
          <img src="img/page.webp" loading="lazy" alt="Featured image of post 『 Links 』友情链接">
        </a>
      </div>
      <div class="article-details">
        <div class="article-title-wrapper">
          <h2 class="article-title">
            <a href="/links/">
              『 Links 』友情链接
            </a>
          </h2>
        </div>
        <footer class="article-time">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock"
                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
                 fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z">
              </path>
              <circle cx="12" cy="12" r="9">
              </circle>
              <polyline points="12 7 12 12 15 15">
              </polyline>
            </svg>
            <time class="article-time--reading">
              阅读时长: 1 分钟
            </time>
          </div>
        </footer>
        <footer class="article-translations">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-language"
               width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
               fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none">
            </path>
            <path d="M4 5h7">
            </path>
            <path d="M9 3v2c0 4.418-2.239 8-5 8">
            </path>
            <path d="M5 9c-.003 2.144 2.952 3.908 6.7 4">
            </path>
            <path d="M12 20l4-9 4 9">
            </path>
            <path d="M19.1 18h-6.2">
            </path>
          </svg>
          <div>
            <a href="https://blog.linsnow.cn/en/links/" class="link">
              English
            </a>
          </div>
        </footer>
      </div>
    </header>
    <section class="article-content">
      <details>
        <summary class="details">
          🧀点击展开友链交换：
        </summary>
        <h2 id="我自己的blog信息">
          <strong>
            我自己的blog信息🤡
          </strong>
        </h2>
        <blockquote>
          <p>
            名字： L1nSn0w’s Blog
          </p>
          <p>
            博客地址：https://blog.linsnow.cn
          </p>
          <p>
            简介：无限进步.🎈
          </p>
          <p>
            我的头像:
            <a class="link" href="https://blog.linsnow.cn/img/avatar.png" target="_blank"
               rel="noopener">
              https://blog.linsnow.cn/img/avatar.png
            </a>
          </p>
        </blockquote>
        <h2 id="友链申请格式如下">
          <strong>
            友链申请格式如下🥳
          </strong>
        </h2>
        <blockquote>
          <p>
            你的大名: XXXX
          </p>
          <p>
            你的简介: XXXXXX
          </p>
          <p>
            头像链接: XXXXXXX
          </p>
          <p>
            博客地址: XXXXXXXXXXXXXXXXXXX
          </p>
        </blockquote>
        <h2 id="友链交换须知">
          友链交换须知😛
        </h2>
        <blockquote>
          <p>
            正常安全的网址，尽量买一个好的域名。
          </p>
          <p>
            站点至少正常运行一个星期。
          </p>
          <p>
            只接受双向友链。
          </p>
          <p>
            头像链接稳定不掉。
          </p>
          <p>
            尽量不要接入广告
          </p>
          <p>
            尽量定期更新,如果长期不更新或者不维护的话我可能会将其撤掉!!!!!
          </p>
        </blockquote>
      </details>
    </section>
    <footer class="article-footer">
      <section class="article-copyright">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copyright"
             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentcolor"
             fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z">
          </path>
          <circle cx="12" cy="12" r="9">
          </circle>
          <path d="M14.5 9a3.5 4 0 100 6">
          </path>
        </svg>
        <span>
								Licensed under CC BY-NC-SA 4.0
							</span>
      </section>
    </footer>
  </article>
  <div class="article-list--compact links">
    <article>
      <a href="https://amoshk.top/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            豆豆
          </h2>
          <footer class="article-time">
            🃏生活碎片
          </footer>
        </div>
        <div class="article-image">
          <img src="img/doudou.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://blog.zhheo.com/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            Heo
          </h2>
          <footer class="article-time">
            👻爱折腾的设计师
          </footer>
        </div>
        <div class="article-image">
          <img src="img/heo.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://www.snhere.com/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            思宁HERE
          </h2>
          <footer class="article-time">
            🧨一个小胖子.
          </footer>
        </div>
        <div class="article-image">
          <img src="img/snhere.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://dusays.com/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            杜老师说
          </h2>
          <footer class="article-time">
            🎓师者，传道，授业，解惑！
          </footer>
        </div>
        <div class="article-image">
          <img src="img/dusays.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://t-t.live/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            团团生活志
          </h2>
          <footer class="article-time">
            🚀爱生活 爱分享
          </footer>
        </div>
        <div class="article-image">
          <img src="img/tx.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://undf.top" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            沐印小站
          </h2>
          <footer class="article-time">
            🍭时间不在于你拥有多少，而在于你如何使用!
          </footer>
        </div>
        <div class="article-image">
          <img src="img/muyin.webp" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://blog.whispery.cn/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            Whisper
          </h2>
          <footer class="article-time">
            👀我们的忧愁将会崩解，灵魂将会穿梭如风
          </footer>
        </div>
        <div class="article-image">
          <img src="img/whisper.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://pampo.cn/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            Pampo
          </h2>
          <footer class="article-time">
            👻我希望，我们都能够变得更勇敢
          </footer>
        </div>
        <div class="article-image">
          <img src="img/pampo.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://foolishfox.cn/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            FF
          </h2>
          <footer class="article-time">
            🃏foolish fox
          </footer>
        </div>
        <div class="article-image">
          <img src="img/ff.jpeg" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://blog.btwoa.com" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            btwoa
          </h2>
          <footer class="article-time">
            🙃仍相信人间滚烫
          </footer>
        </div>
        <div class="article-image">
          <img src="img/btwoa.jpeg" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://lisenhui.cn/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            凡梦星尘空间站
          </h2>
          <footer class="article-time">
            🍀再平凡的人也有属于他自己的梦想!
          </footer>
        </div>
        <div class="article-image">
          <img src="img/xinchen.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://gahotx.cn/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            Gahotx
          </h2>
          <footer class="article-time">
            🪅Don't repeat yourself
          </footer>
        </div>
        <div class="article-image">
          <img src="img/cat.jpeg" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://woc.xyz/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            废物作家
          </h2>
          <footer class="article-time">
            🍀一个废物作家的梦想
          </footer>
        </div>
        <div class="article-image">
          <img src="img/tx.jpeg" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://blog.cworld.top/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            CWorld’s Blog
          </h2>
          <footer class="article-time">
            🤔求知若愚，虚怀若谷
          </footer>
        </div>
        <div class="article-image">
          <img src="img/cworld.png" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://blog.smallsunnyfox.com/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            橘子
          </h2>
          <footer class="article-time">
            👻风一定会吹过黄昏
          </footer>
        </div>
        <div class="article-image">
          <img src="img/juzi.jpeg" loading="lazy">
        </div>
      </a>
    </article>
    <article>
      <a href="https://www.imcao.cn/" target="_blank" rel="noopener">
        <div class="article-details">
          <h2 class="article-title">
            ImCaO's Blog
          </h2>
          <footer class="article-time">
            🍟花有重开日，人无再少年.
          </footer>
        </div>
        <div class="article-image">
          <img src="img/imcao.png" loading="lazy">
        </div>
      </a>
    </article>
  </div>
  <script src="js/waline.js">
  </script>
  <link href="css/waline.css" rel="stylesheet">
  <div id="waline" class="waline-container">
  </div>
  <style>
    .waline-container{background-color:var(--card-background);border-radius:var(--card-border-radius);box-shadow:var(--shadow-l1);padding:var(--card-padding);--waline-font-size:var(--article-font-size)}.waline-container
                                                                                                                                                                                                          .wl-count{color:var(--card-text-color-main)}
  </style>
  <script>
    Waline.init({
      dark: 'html[data-scheme="dark"]',
      el: "#waline",
      emoji: ["https://cdn.jsdelivr.net/npm/sticker-heo@2022.7.5/Sticker-100/"],
      locale: {
        admin: "👻屑博主",
        placeholder: "🎉不用登陆也可以畅所欲言哦...."
      },
      pageview: !0,
      reaction: ["/feeling/good.svg", "/feeling/common.svg", "/feeling/bad.svg"],
      requiredMeta: ["name", "email"],
      serverURL: "https://waline.linsnow.cn/"
    })
  </script>
  <footer class="site-footer">
    <section class="copyright">
      © 2020 - 2022 L1nSn0w's Blog
    </section>
    <section class="powerby">
      Powered by GitHub.Pages
      <br>
      Built with
      <a href="https://gohugo.io/" target="_blank" rel="noopener">
        Hugo
      </a>
      <br>
      主题
      <b>
        <a href="https://github.com/CaiJimmy/hugo-theme-stack" target="_blank"
           rel="noopener" data-version="3.16.0">
          Stack
        </a>
      </b>
      由
      <a href="https://jimmycai.com" target="_blank" rel="noopener">
        Jimmy
      </a>
      设计
      <span>
							• 由L1nSn0w用❤️魔改
						</span>
    </section>
    <section class="powerby">
      <img src="img/icp.png" alt="" width="15px" height="15px">
      <a href="https://icp.gov.moe/?keyword=20222117" target="_blank">
        萌ICP备20222117号
      </a>
    </section>
    <section class="powerby">
      📑共咕咕了 96.90k 字 · 共水了 75篇文章.
      <br>
      <span>
							<p>
							</p>
						</span>
    </section>
  </footer>
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg">
    </div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item">
        </div>
        <div class="pswp__item">
        </div>
        <div class="pswp__item">
        </div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter">
          </div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)">
          </button>
          <button class="pswp__button pswp__button--share" title="Share">
          </button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen">
          </button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out">
          </button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip">
          </div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>
        <div class="pswp__caption">
          <div class="pswp__caption__center">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe.min.js"
          crossorigin="anonymous" defer="">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe-ui-default.min.js"
          crossorigin="anonymous" defer="">
  </script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/default-skin/default-skin.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@4.1.3/dist/photoswipe.min.css"
        crossorigin="anonymous">
</main>
</html>