<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(content = ~{::content}, title='瞬间', pageType='moments' )}">
<th:block th:fragment="content">
    <div class="container main-container flex on-phone--column extended">
        <!--      Left Sidebar-->
        <th:block th:replace="~{modules/common/left-sidebar :: left-sidebar}"></th:block>


        <main class="main full-width">
            <div class="moments-container">
                <h2 class="moments-title">
                    <i class="icon stack icon-pengyouquan1"></i>
                    瞬间
                </h2>
                <div class="tags-list">
                    <a th:href="@{/moments}" class="tags-item">
                        <span>全部</span>
                    </a>
                    <a th:href="'/moments?tag='+${tag.name}" class="tags-item" th:each="tag : ${tags}">
                        <span th:text="${tag.name}"></span>
                        <span class="tag-num" th:text="${tag.momentCount}"></span>
                    </a>
                </div>
                <div class="moment-content">
                    <ul>
                        <li th:each="moment : ${moments.items}" th:with="content=${moment.spec.content}">
                            <img th:src="${theme.config.leftSidebar.blog_info.avatar}" alt="" class="avatar">
                            <div class="content" >
                                <div class="item-content" th:if="${not #strings.isEmpty(content.html)}">
                                    <div class="item-html " th:utext="${content.html}">

                                    </div>
                                    <div class="moment-media"
                                         th:if="${not #lists.isEmpty(content.medium)}"
                                         th:classappend="${'medium-'+#lists.size(content.medium)}">
                                            <th:block th:each="momentItem : ${content.medium}">
                                                <div class="moment-media-item">
                                                <img th:if="${momentItem.type.name == 'PHOTO'}" th:src="${momentItem.url}" loading="lazy"/>
                                                    <video th:if="${momentItem.type.name == 'VIDEO'}"
                                                           id="my-player"
                                                            class="video-js"
                                                            controls
                                                            preload="auto"
                                                            width="600"
                                                            height="400"
                                                            data-setup='{}'>
                                                        <source th:src="${momentItem.url}" type="video/mp4"></source>
                                                    </video>
                                                </div>
                                            </th:block>
                                    </div>
                                </div>
                                <div class="moment-footer">
                                    <div class="moment-footer-item moment-footer-like" th:data-upvote-moment-name="${moment.metadata.name}">
                                        <i class="icon stack icon-aixin1"></i>
                                        <i class="icon stack icon-aixin2" style="display: none"></i>
                                        <span th:text="${moment.stats.upvote}">0</span>
                                    </div>
                                    <div class="moment-footer-item moment-footer-comment" th:data--moment-name="${moment.metadata.name}" onclick="showComment(this.getAttribute('data--moment-name'))">
                                        <i class="icon stack icon-31pinglun"></i>
                                        <span th:text="${moment.stats.approvedComment}"
                                              th:if="${theme.config.base.comment_system == 'default'}">0</span>
                                        <span class="waline-comment-count"
                                              th:if="${theme.config.base.comment_system == 'waline'}"
                                              th:data-path="'/moments/'+${moment.metadata.name}">0</span>
                                    </div>
                                    <div class="moment-footer-item moment-footer-time">
                                        <i class="icon stack icon-rili"></i>
                                        <span th:text="${#dates.format(moment.spec.releaseTime, 'yyyy-MM-dd')}">0</span>
                                    </div>
                                </div>
                                <div class="moment-comment" style="display: none" th:data-comment-moment-name="${moment.metadata.name}">
                                    <th:block th:if="${theme.config.base.comment_system == 'default'}">
                                    <halo:comment
                                            group="moment.halo.run"
                                            kind="Moment"
                                            th:attr="name=${moment.metadata.name}"
                                    />
                                        </th:block>
                                    <th:block th:if="${theme.config.base.comment_system == 'waline'}">
                                        <div th:id="${moment.metadata.name}"></div>
                                        <script th:src="@{/assets/lib/waline/waline.js}"></script>
                                        <link rel="stylesheet"
                                              th:href="@{/assets/lib/waline/waline.css}"
                                        />
                                        <style>
                                            .moment-comment{
                                                --waline-font-size: var(--article-font-size);
                                            }

                                        </style>
                                        <script type="module" th:inline="javascript" th:if="${theme.config.base.waline.waline_setting == 'default'}">
                                            Waline.init({
                                                el: /*[[${'#'+moment.metadata.name}]]*/'',
                                                dark: 'html[data-mode="dark"]',
                                                serverURL: /*[[${theme.config.base.waline.waline_url}]]*/"",
                                                path: '/moments/'+/*[[${moment.metadata.name}]]*/'',
                                                comment: true,
                                                requiredMeta:['nick', 'mail'],
                                            });

                                        </script>
                                    </th:block>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="moment-pagination" th:if="${moments.hasPrevious() || moments.hasNext()}">
                <a class="pre" th:href="@{${moments.prevUrl}}" th:if="${moments.hasPrevious()}">
                    <span>上一页</span>
                    <i class="icon jiewen joe-left"></i>

                </a>
                <a class="next" th:href="@{${moments.nextUrl}}" th:if="${moments.hasNext()}">
                    <span>下一页</span>
                    <i class="icon jiewen joe-right"></i>
                </a>
            </div>
            <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const currentSearch = window.location.search;
                    const tagsLinks = document.querySelectorAll('.tags-list a');
                    tagsLinks.forEach(function(link) {
                        link.classList.remove('active');
                        const href = new URL(link.href, window.location.origin);
                        const linkSearch = href.search;

                        // 检查链接的查询字符串是否与当前页面匹配
                        if (currentSearch === linkSearch) {
                            link.classList.add('active');
                        }else if(currentSearch === '' && linkSearch === ''){
                            link.classList.add('active');
                        }
                    });
                });
                const showComment = (name) => {
                    const comment = document.querySelector('.moment-comment[data-comment-moment-name="'+name+'"]');
                    if(comment.style.display === 'none'){
                        comment.style.display = 'block';
                    }else{
                        comment.style.display = 'none';
                    }
                }

            </script>
            <script>
                const UpvoteManager = (itemType='moment', group, pluralForm) => ({
                    upvotedItems: [],
                    init() {
                        this.upvotedItems = JSON.parse(localStorage.getItem(`stack-upvote.${itemType}.names`) || "[]");
                    },
                    hasUpvoted(itemName) {
                        return this.upvotedItems.includes(itemName);
                    },
                    async handleUpvote(itemName) {
                        if (this.hasUpvoted(itemName)) return;

                        const xhr = new XMLHttpRequest();
                        xhr.open("POST", "/apis/api.halo.run/v1alpha1/trackers/upvote");
                        xhr.setRequestHeader("Content-Type", "application/json");
                        xhr.onload = () => {
                            this.upvotedItems = [...this.upvotedItems, itemName];
                            localStorage.setItem(`stack-upvote.${itemType}.names`, JSON.stringify(this.upvotedItems));
                            document.querySelector(`[data-upvote-moment-name="${itemName}"]`).classList.add('upvoted')
                            const upvoteElements = document.querySelectorAll(`[data-upvote-moment-name="${itemName}"] span`);
                            if (upvoteElements && upvoteElements.length > 0) {
                                upvoteElements.forEach(element => {
                                    const currentCount = parseInt(element.textContent || "0");
                                    element.textContent = (currentCount + 1).toString();
                                });
                            }
                        };
                        xhr.onerror = function() {
                            alert("Network request failed, please try again later");
                        };
                        xhr.send(JSON.stringify({
                            group: group,
                            plural: pluralForm,
                            name: itemName
                        }));
                    }
                });
                const commentUpvoteManager = UpvoteManager('moment', 'moment.halo.run', 'moments');
                document.addEventListener('DOMContentLoaded', (event) => {
                    commentUpvoteManager.init();
                    document.querySelectorAll('.moment-footer-like').forEach(button => {
                        const itemName = button.getAttribute('data-upvote-moment-name');
                        if (commentUpvoteManager.hasUpvoted(itemName)) {
                            button.classList.add('upvoted');
                        }

                        button.addEventListener('click', function() {
                            commentUpvoteManager.handleUpvote(itemName);

                        });
                    });
                });

            </script>

            <!--Footer-->
            <th:block th:replace="~{modules/common/footer :: footer}"></th:block>



        </main>
    </div>
    <!--    Tail JS-->
    <th:block th:replace="~{modules/tail :: tail}"></th:block>


</th:block>
</html>